# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Database & Generated Prisma Files
prisma/*.db
prisma/*.db-journal
dev.db
/generated/prisma

# Uploads & Temp files
uploads/
tmp/
*.log

# Editor, Agent & System Files
.DS_Store
.vscode/
.idea/
.agent/
.agents/
.claude/
.windsurf/
